@model Post
@inject IOptionsSnapshot<BlogSettings> settings
@{
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.Excerpt;
    bool showFullPost = ViewContext.RouteData.Values.ContainsKey("slug");
    string host = Context.Request.Scheme + "://" + Context.Request.Host;
}

@section Head {
    <link rel="canonical" href="@(host + Model.GetLink())" />

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>

<style class="text/css">
    #mapid { height: 180px; }
</style>
}
<h2>Hello world</h2>
<article class="post container" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <header>
        <h1 itemprop="name headline"><a href="@Model.GetLink()" rel="canonical" itemprop="url">@Model.Title</a></h1>
        <time datetime="@Model.PubDate.ToString("s")" itemprop="datePublished">Published @Model.PubDate.ToString("MMM d, yyyy")</time>
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-controller="Blog" asp-action="edit" asp-route-id="@Model.ID" title="Edit the post">Edit post</a>
        }
    </header>

    <div itemprop="articleBody mainEntityOfPage" cdnify>
        @Html.Raw(Model.RenderContent())
    </div>
    <div>
         <div id="mapid"></div>
    </div>
    <footer>
        @if (Model.Categories.Any())
        {
            <ul class="categories">
                <li> Posted in </li>
                @foreach (string cat in Model.Categories)
                {
                    <li itemprop="articleSection"><a asp-controller="Blog" asp-action="Category" asp-route-category="@cat.ToLowerInvariant()">@cat</a></li>
                }
            </ul>
            <text>and has</text>
        }

        <a href="@Model.GetLink()#comments" itemprop="discussionUrl" title="Go to the comments section">
            <span itemprop="commentCount">@Model.Comments.Count</span> comments
        </a>

        <meta itemprop="author" content="@settings.Value.Owner" />
        <meta itemprop="dateModified" content="@Model.LastModified.ToString("s")" />
        <meta itemprop="mainEntityOfPage" content="@(host + Model.GetLink())" />
    </footer>
</article>

@if (showFullPost)
{
    <link rel="stylesheet" href="~/css/comments.scss" />
    await Html.RenderPartialAsync("_SocialSharing", Model.Title);
    await Html.RenderPartialAsync("Comments");
}

@if (User.Identity.IsAuthenticated)
{
    @section Scripts {
        <script src="~/js/admin.js" async defer></script>
        <link rel="stylesheet" href="~/css/admin.scss" />
    }
}

@section Scripts {
 <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>

    @if (User.Identity.IsAuthenticated)
    {
            <script src="~/js/admin.js" async defer></script>
            <link rel="stylesheet" href="~/css/admin.scss" />
    }

<script type="text/javascript">
    (function () {
        var mymap = L.map('mapid').setView([51.505, -0.09], 13);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
	    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
	    maxZoom: 21,
	    id: 'mapbox.streets',
	    accessToken: 'pk.eyJ1IjoiY2Fyb2x5bndhcmJ1cnRvbiIsImEiOiJjazJpcWZzODMxY2hqM2JwNWl1NDRkNTI4In0.fOHEx2oe20FnuhQE2Rasrg'
    }).addTo(mymap);
        var marker = L.marker([51.5, -0.09]).addTo(mymap);
        marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();
     })();
</script>

}